= link_to(image_tag("/plugin_assets/z_b2bbreakfast/images/gmap.gif", :alt => "Earl Warren Showgrounds", :title => "Earl Warren Showgrounds"), "http://maps.google.com/maps?ie=UTF8&q=Earl+Warren+Showgrounds,+Santa+Barbara,+California+93105&fb=1&split=1&gl=us&cid=0,0,17024055080469926283&ei=FIilSp6JO5LGMK7PxOQP&ll=34.429549,-119.739497&spn=0.011221,0.016222&z=16&iwloc=A")
- unless @upcoming_events.empty?
  %ul.events
    - for event in @upcoming_events
      %li
        .event_date
          %span.month== #{event.date_and_time.strftime('%b')}
          %span.date== #{event.date_and_time.strftime('%d')}
          %span.day== #{event.date_and_time.strftime('%a')}
        .event_sponsor
          - if event.link_id
            - link = Link.find_by_id(event.link_id)
            - unless link.images.empty?
              = link_to(image_tag(link.images.first.image.url(:sponsor), :alt => link.title, :title => link.title), event)
            - else
              = link_to("Sponsored by: <br/>#{link.title}", event)
        = clear
- unless @sidebar_links.empty?
  %ul.links
    - for link in @sidebar_links
      %li{:class => cycle('left', 'right')}= link_to(image_tag(link.images.first.image.url(:sponsor_small), :alt => link.title, :title => link.title), link)
  =clear