- @upcoming_events = Event.future.soonest
- @sidebar_links = Link.all(:conditions => {:feature_in_sidebar => true}).sort_by(&:rand)
%h1 Website Sponsors:
= link_to(image_tag("/plugin_assets/b2bbreakfast/images/presenting-sponsors.gif", :alt => "Website Sponsors", :title => "Website Sponsors", :id => "presenting-sponsors"), "/annual-sponsors")
- unless @upcoming_events.empty?
  %ul.events
    - for event in @upcoming_events
      %li
        .event_date
          %span.month== #{event.date_and_time.strftime('%b')}
          %span.date== #{event.date_and_time.strftime('%d')}
        .event_sponsor
          - if event.link_id
            - link = Link.find_by_id(event.link_id)
            - unless link.images.empty?
              = link_to(image_tag(link.images.first.image.url(:sponsor), :alt => link.title, :title => link.title), event)
            - else
              = link_to("Sponsored by: <br/>#{link.title}", event)
        = clear
- unless @sidebar_links.empty?
  %ul.links
    - for link in @sidebar_links
      - if link.images.any?
        %li{:class => cycle('left', 'right')}= link_to(image_tag(link.images.first.image.url(:sponsor_small), :alt => link.title, :title => link.title), link)
  =clear